<div class="bar bar-header nav-title-slide-ios7 bar-positive">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
    <div class="h1 title">Add Multiple</div>
    <div class="buttons">

    </div>
</div>


<ion-view>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <form name="itemListForm" ng-submit="parseItemList(itemList)">
            <div class="button-bar">
                    <a class="button button-assertive ion-android-close" href="#/app/list"></a>
                    <button class="button button-balanced ion-android-checkmark" ng-click="submitItemListForm()"></button>
            </div>


            <div class="list">
                <label class="item item-input">
                    <textarea rows="15" placeholder="Add items line by line..." ng-model="itemList"></textarea>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>
