.text-completed {
    text-decoration: line-through;
    font-style: italic;
    color: #cccccc;
}

.list-item-text {
    font-size: 1.25em; vertical-align: middle;
}








.bar.bar-flash {
    display: block;
    height: 24px;
    margin-bottom: 5px;

    /* starts right below a normal header */
    /*top: 0px;*/

    /* make the text centered vertically and horizontally */
    text-align: center;
    padding: 0;
    line-height: 24px;

    /* transition 'sliding down' (check below)*/
    -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.list-content {
    -webkit-transition: 200ms all;
}
.list-content.has-flash {
    /* 44px (header) + 24px */
    /*top: 24px;*/
    transform: translate3D(0, 24px, 0);
    -webkit-transform: translate3D(0, 24px, 0);
}

/* make flash bar slide up/down */
.bar-flash.ng-enter,
.bar-flash.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0px;
}
.bar-flash.ng-enter.ng-enter-active,
.bar-flash.ng-leave {
    height: 24px;
    border-width: 1px;
}