<ion-view title='Shopping...'>
    <ion-nav-bar class="nav-title-slide-ios7 bar-balanced">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-pause" ng-click="stopShopMode()" ></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <i class="button button-icon icon ion-looping"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <form ng-submit="createItem(kntItem)">
            <div class="item item-input-inset">
                <button type="submit" class="button button-clear button-positive">
                    <i class="icon ion-plus-round"></i>
                </button>
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Add item..." ng-model="kntItem.name">
                </label>
            </div>
        </form>


        <!-- Uncompleted items list -->
        <ion-list>
            <ion-item ng-repeat="kntItem in kntItems | orderBy:'distance' track by $index" class="item item-button-left item-button-right slide-in-left" ng-show="!kntItem.completed" ng-animate="'animate'">
                <button  class="button button-icon button-clear button-positive icon ion-ios7-circle-outline" ng-click="completeItem(kntItem)"></button>
                <span class="list-item-text">
                    {{kntItem.name}}
                    <span ng-show="kntItem.aisle > 0 && shopMode"> - Aisle {{kntItem.aisle}}</span>
                </span>
                <div class="buttons">
                    <button  class="button button-icon button-clear button-assertive icon ion-ios7-close" ng-click="deleteItem(kntItem, false)"></button>
                    <button  class="button button-icon button-clear button-positive icon ion-chevron-down" ng-click="editItem(kntItem)"></button>
                </div>
            </ion-item>
        </ion-list>
        <!-- Uncompleted items list -->
        <div class="card" ng-show="kntItems.length == 0">
            <div class="item item-text-wrap text-center positive">
                No items added yet, scrub...get after it and make a list
            </div>
        </div>
        <br/><br/><br/><br/>
        <!-- Completed items list -->
        <ion-list>
            <ion-item ng-repeat="kntItem in kntItems track by $index" class="item item-button-left item-button-right slide-in-left" ng-show="kntItem.completed" ng-animate="'animate'">
                <button  class="button button-icon button-clear icon ion-checkmark-circled" ng-click="uncompleteItem(kntItem)"></button>
                <span class="list-item-text text-completed">
                    {{kntItem.name}}
                    <span ng-show="kntItem.aisle > 0 && shopMode"> - Aisle {{kntItem.aisle}}</span>
                </span>
                <div class="buttons">
                    <button  class="button button-icon button-clear icon ion-ios7-close" ng-click="deleteItem(kntItem, false)"></button>
                    <button  class="button button-icon button-clear icon ion-chevron-down" ng-click="editItem(kntItem)"></button>
                </div>
            </ion-item>
        </ion-list>
        <!-- Completed items list -->

    </ion-content>
</ion-view>

<script id="edit-item.html" type="text/ng-template">

    <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Edit Item</h1>
            <button class="button button-clear button-positive" ng-click="closeEditModal()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

            <form model="kntItemForm" name="editForm">
                <div class="list">
                    <label class="item item-input">
                        <div class="input-label">
                            Name
                        </div>
                        <textarea name="name" placeholder="What do you need to get?" ng-model="kntItemForm.name" required></textarea>
                        <!--<input type="text" name="name" placeholder="What do you need to get?" ng-model="kntItemForm.name" >-->
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Category
                        </div>
                        <select ng-model="kntItemForm.category" ng-options="category for category in categories">
                        </select>
                    </label>
                </div>
                <ion-button class="button button-block button-positive" ng-click="saveItem(kntItemForm)" ng-disabled="editForm.$invalid">
                    Save
                </ion-button>
                <ion-button class="button button-block button-assertive" ng-click="deleteItem(kntItemForm, true)">
                    Delete
                </ion-button>
            </form>

        </ion-content>

    </div>

</script>
