<ion-side-menus>

<ion-pane ion-side-menu-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
  <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
</ion-pane>

<ion-side-menu side="left">
<header class="bar bar-header bar-stable">
  <h1 class="title">Pappas Awesome App</h1>
</header>
<ion-content class="has-header">
  <ion-list>
    <!--<ion-item nav-clear menu-close href="#/app/search">-->
      <!--Search-->
    <!--</ion-item>-->
    <!--<ion-item nav-clear menu-close href="#/app/browse">-->
      <!--Browse-->
    <!--</ion-item>-->
    <!--<ion-item nav-clear menu-close href="#/app/playlists">-->
      <!--Playlists-->
    <!--</ion-item>-->
    <ion-item nav-clear menu-close href="#/app/list">
        <i class="icon ion-ios7-cart-outline"></i> Shopping List
    </ion-item>
    <ion-item nav-clear menu-close href="#/app/add-as-list">
            <i class="icon ion-ios7-paper-outline"></i> Add As List
    </ion-item>
  </ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
